@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary: #6366F1;

    --color-body-text: #565973;
    --color-background: #FFFFFF;
    --color-heading-text: #0B0F19;

    --color-button-text: #FFFFFF;
    --color-button-background: var(--primary);
    --color-button-hover-background: #0B0F19;

    --color-button-download-text: #FFFFFF;
    --color-button-download-background: #0B0F19;
    --color-button-download-hover-background: #0B0F19;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--color-body-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading-text);
}

button, .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;

    color: var(--color-button-text);
    background-color: var(--color-button-background);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.15s ease-in-out;

    &:hover {
        background-color: var(--color-button-hover-background);
    }
}


/* MARK: Header section */


.silicon-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (width >= 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (width >= 1025px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.silicon-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.silicon-navbar-actions {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (width >= 768px) {
        gap: 3rem;
    }
}

.silicon-navbar-actions-darkmode {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.silicon-navbar-actions-darkmode-text {
    display: none;

    @media (width >= 768px) {
        display: block;
    }
}

.toggle {
    --_w: 40px;
    --_h: 20px;
    
    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;
    
    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #bfbfbf;
        border-radius: 100vw;
        box-shadow: inset 0 0 3px #00000038;
        
        transition: 400ms;
    }
    
    .slider::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px #00000057;
        
        transition: 400ms;
    }
    
    input[type="checkbox"]:checked + .slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--color-accent);
    }
    input[type="checkbox"]:checked + .slider {
        background-color: var(--color-secondary);
    }
}

.silicon-navbar-actions-account {
    display: none;

    @media (width > 1024px) {
        display: block;
    }
}

.silicon-navbar-actions-hamburger {
    display: block;
    cursor: pointer;

    @media (width > 1024px) {
        display: none;
    }
}

/* MARK: Hero section */

.silicon-hero {
    background: linear-gradient(178deg, rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (width >= 768px) {
        padding-bottom: 0;
    }
}

.silicon-hero-area {
    display: flex;
    flex-direction: column;

    @media (width >= 768px) {
        flex-direction: row;
    }
}

.silicon-tablet-hero-title {
    display: none;

    @media (width >= 768px) {
        display: block;
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        max-width: 470px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    @media (width >= 1025px) {
        display: none;
    }
}

.silicon-hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    @media (width >= 768px) {
        margin-top: 70px;
    }
}

.silicon-hero-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;

    @media (width >= 768px) {
        display: none;
    }

    @media (width >= 1025px) {
        display: block;
        font-size: 56px;
        text-align: left;
    }
}

.silicon-hero-title-row1,
.silicon-hero-title-row2 {
    display: block;
}

.silicon-hero-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;

    @media (width >= 768px) {
        text-align: left;
        max-width: 270px;
    }

    @media (width >= 1025px) {
        max-width: 440px;
    }
}

.silicon-hero-app-download-buttons {
    display: block;
    align-items: center;
    margin-top: 2rem;

    @media (width >= 768px) {
        display: flex;
        /* justify-content: flex-start; */
    }
}

.silicon-hero-app-download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 0.8rem;
    gap: 1rem;
    margin-bottom: 15px;

    @media (width >= 768px) {
        margin-bottom: 0;
        margin-right: 15px;
        padding: 10px 20px;
        font-size: 0.6rem;
    }
}

.silicon-hero-app-download-button-google, .silicon-hero-app-download-button-apple {
    height: 100%;
}

.silicon-hero-app-download-button-text-row1 {
    font-size: 0.9em;
    font-weight: 600;
}

.silicon-hero-app-download-button-text-row2 {
    font-size: 1.5em;
    font-weight: 600;
}

.silicon-hero-app-download-button-area {
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.silicon-hero-image {
    display: none;

    @media (width >= 768px) {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}

.silicon-hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
}






/* @media (min-width: 768px) and (max-width: 1024px) {

    .silicon-hero {
        padding-top: 3rem;
    }

    .silicon-hero-area {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        margin-top: 50px;
    }

    .silicon-hero-content {
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .silicon-hero-title {
        display: none;
    }

    .silicon-tablet-hero-title {
        display: block;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    .silicon-hero-text {
        font-size: 1.2rem;
        text-align: center;
        max-width: 350px;
    }

    .silicon-hero-app-download-buttons {
        justify-content: center;
    }

    .silicon-hero-app-download-button {
        width: 126px;
    }

    .silicon-hero-image {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
    }

    .silicon-hero-image img {
        max-width: 100%;
        height: auto;
        display: block;
    }
} */