@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary: #6366F1;

    --color-body-text: #565973;
    --color-background: #FFFFFF;
    --color-heading-text: #0B0F19;

    --color-button-text: #FFFFFF;
    --color-button-background: var(--primary);
    --color-button-hover-background: #0B0F19;

    --color-button-download-text: #FFFFFF;
    --color-button-download-background: #0B0F19;
    --color-button-download-hover-background: #0B0F19;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--color-body-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading-text);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;

    color: var(--color-button-text);
    background-color: var(--color-button-background);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.15s ease-in-out;

    &:hover {
        background-color: var(--color-button-hover-background);
    }
}


/* MARK: Header section */


.silicon-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (width >= 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (width >= 1025px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.silicon-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.silicon-navbar-actions {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (width >= 768px) {
        gap: 3rem;
    }
}

.silicon-navbar-actions-darkmode {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.silicon-navbar-actions-darkmode-text {
    display: none;

    @media (width >= 768px) {
        display: block;
    }
}

.toggle {
    --_w: 40px;
    --_h: 20px;
    
    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;
    
    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #bfbfbf;
        border-radius: 100vw;
        box-shadow: inset 0 0 3px #00000038;
        
        transition: 400ms;
    }
    
    .slider::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px #00000057;
        
        transition: 400ms;
    }
    
    input[type="checkbox"]:checked + .slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--color-accent);
    }
    input[type="checkbox"]:checked + .slider {
        background-color: var(--color-secondary);
    }
}

.silicon-navbar-actions-account {
    display: none;

    @media (width > 1024px) {
        display: block;
    }
}

.silicon-navbar-actions-hamburger {
    display: block;
    cursor: pointer;

    @media (width > 1024px) {
        display: none;
    }
}

/* MARK: Hero section */

.silicon-hero {
    background: linear-gradient(178deg, rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (width >= 768px) {
        padding-bottom: 0;
    }
}

.silicon-hero-area {
    display: flex;
    flex-direction: column;

    @media (width >= 768px) {
        flex-direction: row;
    }
}

.silicon-tablet-hero-title {
    display: none;

    @media (width >= 768px) {
        display: block;
        text-align: center;
        max-width: 470px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    @media (width >= 1025px) {
        display: none;
    }
}

.silicon-tablet-hero-title-text {
    font-size: 2.75rem;
    font-weight: 800;
}

.silicon-hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    @media (width >= 768px) {
        margin-top: 70px;
        gap: 0;
    }

    @media (width >= 1025px) {
        gap: 2rem;
        margin-top: 0;
    }
}

.silicon-hero-title {
    font-size: 36px;
    font-weight: 800;
    text-align: center;

    @media (width >= 768px) {
        display: none;
    }

    @media (width >= 1025px) {
        display: block;
        font-size: 56px;
        text-align: left;
    }
}

.silicon-hero-title-row1,
.silicon-hero-title-row2 {
    display: block;
}

.silicon-hero-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;

    @media (width >= 768px) {
        text-align: left;
        max-width: 270px;
    }

    @media (width >= 1025px) {
        max-width: 440px;
    }
}

.silicon-hero-app-download-buttons {
    display: block;
    align-items: center;
    margin-top: 2rem;

    @media (width >= 768px) {
        display: flex;
    }
}

.silicon-hero-app-download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 0.8rem;
    gap: 1rem;
    margin-bottom: 15px;

    @media (width >= 768px) {
        margin-bottom: 0;
        margin-right: 15px;
        padding: 10px 20px;
        font-size: 0.6rem;
    }

    @media (width >= 1025px) {
        font-size: 0.8rem;
        padding: 5px 20px;
    }
}

.silicon-hero-app-download-button-google, .silicon-hero-app-download-button-apple {
    height: 100%;
}

.silicon-hero-app-download-button-text-row1 {
    font-size: 0.9em;
    font-weight: 600;
}

.silicon-hero-app-download-button-text-row2 {
    font-size: 1.5em;
    font-weight: 600;
}

.silicon-hero-app-download-button-area {
    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.silicon-hero-image {
    display: none;

    @media (width >= 768px) {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}

.silicon-hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* MARK: Brands section */

.silicon-brands {
    display: none;

    @media (width >= 768px) {
        display: block;
    }
}

.silicon-brands-items {
    
    @media (width >= 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
    }
}

.silicon-brands-item {

    @media (width >= 768px) {
        width: 160px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E2E5F1;
        border-radius: 10px;
    }

    @media (width >= 1025px) {
        width: 200px;
        height: 100px;
    }
}

.silicon-brands-item img {

    @media (width >= 768px) {
        max-width: 140px;
        max-height: 30px;
        object-fit: contain;
        display: block;
    }

    @media (width >= 1025px) {
        max-width: 150px;
        max-height: 30px;
    }
}

.silicon-brands-item:nth-child(n+5) {
    
    @media (width >= 768px) {
        display: none;
    }
}

.silicon-brands-item:nth-child(5) {
    
    @media (width >= 1099px) {
        display: flex;
    }
}

.silicon-brands-item:nth-child(6) {
    box-shadow: 0 2px 8px 0 #E2E5F1;

    @media (width >= 1300px) {
        display: flex;
    }
}

/* MARK: Features section */

.silicon-features-area {

    @media (width >= 1025px) {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 200px;
    }

    @media (width >= 1296px) {
        margin-top: 100px;
    }
}

.silicon-features-image {
    display: none;

    @media (width >= 1296px) {
        display: flex;
        max-width: 350px;
    }
}

.silicon-features-content {
    margin-top: 40px;

    @media (width >= 1025px) {
        margin-top: 0;
        max-width: 750px;
    }
}

.silicon-features-content-info-title, .silicon-features-content-info-text {
    display: flex;
    justify-content: center;
    text-align: center;

    @media (width >= 1296px) {
        justify-content: flex-start;
        text-align: left;
    }
}

.silicon-features-content-info-title {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.silicon-features-content-info-text {
    margin-bottom: 40px;
    font-size: 1.125rem;
    color: #9397AD;
}

.silicon-features-content-items {
    
    @media (width >= 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 40px;
    }
}

.silicon-features-content-item {
    display: flex;
    margin-bottom: 30px;

    @media (width >= 1025px) {
        margin-bottom: 50px;
    }
}

.silicon-features-content-item-icon {
    min-width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 25px;
    background: #F3F6FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.silicon-features-content-item-icon img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.silicon-features-content-item-text h3 {
    margin-bottom: 10px;
}

.silicon-features-content-item-text p {
    color: #9397AD;
}

/* MARK: How does it work? section */

.silicon-how-does-it-work {
    background-color: #F3F6FF;
    margin-top: 40px;
}

.silicon-how-does-it-work-inner {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;

    @media (width >= 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (width >= 1025px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.silicon-how-does-it-work-area {
    padding-top: 60px;
}

.silicon-how-does-it-work-area-headline {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 1.75rem;
        font-weight: 800;
    }
}

.silicon-how-does-it-work-area-title {

    @media (width >= 768px) {
        font-size: 2rem;
    }
}

.silicon-how-does-it-work-area-mobile-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;

    @media (width >= 768px) {
        display: none;
    }
}

.silicon-how-does-it-work-area-mobile-image2 {
    position: absolute;
}

.silicon-how-does-it-work-area-mobile-info {
    margin-top: 30px;

    @media (width >= 768px) {
        display: none;
    }
}

.silicon-how-does-it-work-area-mobile-info-title {
    text-align: center;
    padding: 0 40px;

    h3 {
        font-size: 1.35rem;
        font-weight: 800;
    }
}

.silicon-how-does-it-work-area-mobile-info-text {
    margin-top: 10px;
    padding-bottom: 60px;
    text-align: center;
    
    p {
        color: #585C7B;
    }
}

.silicon-how-does-it-work-area-tablet-images {
    display: none;

    @media (width >= 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    @media (width >= 1025px) {
        display: none;
    }
}

.silicon-how-does-it-work-area-tablet-images > div {
    flex: 1 1 0;
    max-width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.silicon-how-does-it-work-area-tablet-images > div:first-child {
    overflow: hidden;
    border-top-left-radius: 73px;
    border-bottom-left-radius: 75px;
}

.silicon-how-does-it-work-area-tablet-images > div:last-child {
    overflow: hidden;
    border-top-right-radius: 73px;
    border-bottom-right-radius: 75px;
}

.silicon-how-does-it-work-area-tablet-images img {
    width: 100%;
    height: auto;
    display: block;
}

.silicon-how-does-it-work-area-tablet-image-container2 {
    position: relative;
}

.silicon-how-does-it-work-area-tablet-image3 {
    position: absolute;
    top: 0;
    left: 0;
}

.silicon-how-does-it-work-area-tablet-text {
    display: none;

    @media (width >= 768px) {
        display: block;
        margin-top: 40px;
        padding-bottom: 70px;
        text-align: center;
    }

    @media (width >= 1025px) {
        display: none;
    }
}

.silicon-how-does-it-work-area-tablet-text-title {
    padding: 0 110px;
    margin-bottom: 10px;

    h3 {
        font-size: 1.375rem;
        font-weight: 800;
    }
}

.silicon-how-does-it-work-area-tablet-text-paragraph {
    padding: 0 120px;

    p {
        color: #585C7B;
    }
}

.silicon-how-does-it-work-area-desktop-images {
    display: none;

    @media (width >= 1025px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 100px;
    }
}

.silicon-how-does-it-work-area-desktop-images > div {
    flex: 1 1 0;
    max-width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.silicon-how-does-it-work-area-desktop-images img {
    width: 100%;
    height: auto;
    display: block;
}

.silicon-how-does-it-work-area-desktop-text {
    display: none;

    @media (width >= 1025px) {
        display: block;
        margin-top: 40px;
        padding-bottom: 100px;
        text-align: center;
    }
}

.silicon-how-does-it-work-area-desktop-text-title {
    padding: 0 110px;
    margin-bottom: 10px;

    h4 {
        font-size: 1.5rem;
        font-weight: 800;
    }
}

.silicon-how-does-it-work-area-desktop-text-paragraph {
    padding: 0 274px;

    p {
        color: #585C7B;
    }
}

/* MARK: App features section */

.silicon-app-features {
    display: none;

    @media (width >= 1025px) {
        display: block;
    }
}

.silicon-app-features-area {
    margin-top: 100px;
}


.silicon-app-features-area-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 80px;
    gap: 70px 40px;
}

.silicon-app-features-area-items > div {
    min-width: 0;
    overflow: hidden;
}

.silicon-app-features-area-item1-title {
    margin-bottom: 30px;
    width: 400px;
    padding-top: 100px;

    h2 {
        font-size: 2rem;
        font-weight: 800;
    }
}

.silicon-app-features-area-item1-list {
    margin-bottom: 40px;
}

.silicon-app-features-area-item1-list ul {
    list-style: none;
    padding-left: 0;
    color: #565973;
}

.silicon-app-features-area-item1-list li {
    position: relative;
    padding-left: 27px;
    margin: 15px 0;
}

.silicon-app-features-area-item1-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/app-features/checkmark.svg') no-repeat center center;
    background-size: 20px 20px;
}

.silicon-app-features-area-item1-button, .silicon-app-features-area-item4-button {
    width: 160px;
}

.silicon-app-features-area-item4-title {
    padding-top: 60px;
    max-width: 410px;

    h2 {
        font-size: 2rem;
        font-weight: 800;
    }
}

.silicon-app-features-area-item4-info {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.silicon-app-features-area-item4-info-first {
    margin-right: 35px;
}

.silicon-app-features-area-item4-info-first, .silicon-app-features-area-item4-info-second {
    max-width: 240px;
}

.silicon-app-features-area-item4-info-first-icon, .silicon-app-features-area-item4-info-second-icon {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #F3F6FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MARK: Testimonials section */

.silicon-testimonials {
    display: none;

    @media (width >= 1025px) {
        display: block;
        background-color: #F3F6FF;
    }
}

.silicon-testimonials-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px 0;
}

.silicon-testimonials-area-content1-item {
    width: 301px;

    h2 {
        font-size: 2.5rem;
        font-weight: 800;
    }
}

.silicon-testimonials-area-content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-width: 0;
}

.silicon-testimonials-area-content2-item {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 380px;
    position: relative;
    box-shadow: 0 2px 8px 0 #E2E5F1;
}

.silicon-testimonials-area-content2-item-quote{
    position: absolute;
    top: -30px;
    left: 10px;
}

.silicon-testimonials-area-content2-item-rating img {
    width: 90px;
    height: 15px;
    padding-right: 10px;
}

.silicon-testimonials-area-content2-item-text p {
    color: #565973;
    margin: 20px 0;
}

.silicon-testimonials-area-content2-item-client {
    display: flex;
}

.silicon-testimonials-area-content2-item-client-figure {
    margin-right: 15px;
}

.silicon-testimonials-area-content2-item-client-name {
    font-weight: bold;
}

.silicon-testimonials-area-content2-item-client-role {
    font-size: 0.875rem;
    color: #9397AD;
}

/* MARK: FAQ section */

.silicon-faq-area {
    padding-top: 50px;

    @media (width >= 768px) {
        display: flex;
        flex-direction: column;
    }

    @media (width >= 1025px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 40px;
        align-items: start;
    }
}

.silicon-faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width >= 768px) {
        order: 1;
    }

    @media (width >= 1025px) {
        grid-column: 1;
        grid-row: 1;
        align-items: flex-start;
    }
}

.silicon-faq-content-title {
    text-align: center;
    margin-bottom: 20px;

    @media (width >= 768px) {
        width: 340px;
    }

    @media (width >= 1025px) {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 800;

        @media (width >= 768px) {
            font-size: 2rem;
        }
    }
}

.silicon-faq-content-text {
    text-align: center;
    margin-bottom: 50px;

    @media (width >= 768px) {
        width: 410px;
    }

    @media (width >= 1025px) {
        text-align: left;
    }
    
    p {
        font-size: 1.125rem;
        color: #565973;
    }
}

.silicon-faq-items {
    display: none;

    @media (width >= 768px) {
        display: flex;
        margin: 0 auto;
        gap: 30px;
        order: 3;
        margin-bottom: 25px;
        width: 100%;
        max-width: 700px;
    }

    @media (width >= 1025px) {
        grid-column: 1;
        grid-row: 2;
    }
}

.silicon-faq-item {
    border: 1px solid #E2E5F1;
    padding: 20px 25px 25px 25px;
    width: 100%;
    max-width: 340px;
    border-radius: 8px;

    @media (width >= 1025px) {
        width: 100%;
        max-width: 200px;
    }
}

.silicon-faq-item-text {
    margin: 15px 0 20px 0;

    p {
        font-size: 0.875rem;
        color: #565973;
    }
}

.silicon-faq-item-link.first {
    display: flex;
    gap: 15px;

    a {
        font-size: 0.875rem;
        color: var(--primary);
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.silicon-faq-item-link.second {
    display: flex;
    gap: 15px;

    a {
        font-size: 0.875rem;
        color: #22C55E;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.silicon-faq-accordions {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width >= 768px) {
        gap: 8px;
        margin-bottom: 40px;
        order: 2;
    }

    @media (width >= 1025px) {
        grid-column: 2;
        grid-row: 1 / span 2;
        gap: 16px;
    }
}

.silicon-faq-accordion-container {
    width: 100%;
    max-width: 365px;

    @media (width >= 768px) {
        max-width: 700px;
        border-radius: 8px;
         
        box-shadow: 0 2px 8px 0 #E2E5F1;
    }
}

.silicon-faq-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    font-family: Manrope, sans-serif;
    border: 1px solid #E2E5F1;
    background-color: #FFFFFF;
    padding: 15px 20px;
    width: 100%;
    max-width: 100%;

    @media (width >= 768px) {
        width: 100%;
        max-width: 700px;
        border-radius: 8px;
        border: 0 solid #E2E5F1;
    }
}

.silicon-faq-accordion.active {

    @media (width >= 768px) {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
    }
}

.silicon-faq-accordion.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.silicon-faq-accordion.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.silicon-faq-accordion.last.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.silicon-faq-accordion-icon {
    height: 36px;
    width: 36px;
    min-width: 36px;
    border-radius: 50%;
    border: 1px solid #F3F6FF;
    background-color: #F3F6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        width: 25px;
        height: 25px;
    }
}

.silicon-faq-accordion.active .silicon-faq-accordion-icon {
    background-color: #6366F1;
    border-color: #6366F1;
    transition: background-color 0.3s, border-color 0.3s;
}

.silicon-faq-accordion.active .silicon-faq-accordion-icon img {
    transform: rotate(180deg);
    filter: brightness(0) invert(1);
    transition: transform 0.3s, filter 0.3s;
}

.silicon-faq-accordion-icon img {
    transform: rotate(0deg);
    transition: transform 0.3s, filter 0.3s;
}

.silicon-faq-accordion-panel {
    padding: 0 20px;
    opacity: 0;
    max-height: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 0 solid transparent;
    transition:
        max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    p {
        font-size: 0.875rem;
        color: #585C7B;
    }
}

.silicon-faq-accordion-panel.open {
    max-height: 500px;
    padding: 15px 20px;
    opacity: 1;
    border: 1px solid #E2E5F1;

    @media (width >= 768px) {
        max-width: 700px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
        border-top: none;
        border: 0 solid #E2E5F1;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.silicon-faq-accordion-panel.last {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.silicon-faq-contact-button {
    margin: 60px auto 40px auto;
    font-size: 0.875rem;
    width: 160px;

    a {
        padding: 25px 0;
    }

    @media (width >= 768px) {
        display: none;
    }
}

/* MARK: Subscribe section */

.silicon-subscribe-area {
    background-color: #F3F6FF;
    border-radius: 10px;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 370px;

    @media (width >= 768px) {
        max-width: 700px;
        width: 100%;
        margin-top: 10px;
    }
}

.silicon-subscribe-items {
    padding: 30px 15px;

    @media (width >= 768px) {
        display: flex;
        padding: 70px 25px;
    }
}

.silicon-subscribe-item.first {
    display: flex;
    gap: 15px;

    @media (width >= 768px) {
        gap: 30px;
    }
}

.silicon-subscribe-item-text {
    padding-top: 5px;

    h4 {
        font-size: 1.375rem;
    }
}

.silicon-subscribe-item-text-desktop {
    display: none;

    @media (width >= 1025px) {
        display: block;
    }
}

.silicon-subscribe-item.second {
    margin-top: 40px;

    @media (width >= 768px) {
        margin-top: 10px;
    }
}

.silicon-subscribe-item-form-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.silicon-subscribe-item-form-input {
    border: 1px solid #E2E5F1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 50px;
    width: 220px;
    padding-left: 50px;
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    color: #B4B7C9;
    opacity: 0.4;
}

.silicon-subscribe-item-form-input-icon {
    position: absolute;
    left: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
}

.silicon-subscribe-item-form-button {
    border: 1px solid #E2E5F1;
    height: 50px;
    width: 115px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}